/* Stile generale dell'intestazione fissa della pagina */
header {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  position: fixed; /* Header fisso durante lo scroll */ 
  left: 0;
  right: 0;
  top: 0;
  height: 70px; /* Altezza dell'header */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

/* Contenitore del logo aziendale */
.logo-container {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Immagine del logo */
.logo-container img {
  height: 100%;
  padding-left: 80px;
}

/* Testo centrale con il nome dell'azienda */
.company-name {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  color: #0f2754; /* Colore istituzionale */
}

/* Contenitore menu */
.nav-header {
  flex: 1;
}

/* Lista dei link di navigazione */
.nav-header ul {
  column-gap: 20px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
}

/* Stile dei singoli link */
.nav-header ul a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 3px;
}

/* Linea animata al passaggio del mouse */
.nav-header ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #0f2754;
  transition: 0.4s ease;
}

.nav-header ul a:hover::after {
  width: 100%;
}

/* Responsive per grandezza media*/
@media (max-width: 900px) {

  /* Nasconde il nome dell'azienda per recuperare spazio */
  .company-name {
    display: none;
  }

  /* Riduce il margine del logo */
  .logo-container img {
    padding-left: 30px;
  }

  /* Riduce la distanza tra i link */
  .nav-header ul {
    column-gap: 10px;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {

  /* Riduce l'altezza dell'header */
  header {
    height: 60px;
  }

  /* Ridiemnsiona il logo */
  .logo-container img {
    height: 50px;
    padding-left: 20px;
  }

  /* Ridimensiona ulteriormente lo spazio tra i link */
  .nav-header ul {
    column-gap: 8px;
    margin-right: 20px;
  }

  /* Riduce il font dei link */
  .nav-header ul a {
    font-size: 15px;
  }
}

