/* SEZIONE HOME */
.home {
  scroll-margin-top: 95px; /*Permette un corretto allineamento durante lo scoll con l'header fisso*/
}

/* Hero Home */
/* Blocco introduttivo principale della homepage */
.home-hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

/* Sottotitolo */
.home-hero h2 {
  font-size: 30px;
  margin: 0px;
}

/* Titolo principale */
.home-hero h1 {
  font-size: 70px;
  margin: 0px;
  text-align: center;
}

/* Testo descrittivo */
.home-hero p {
  line-height: 22px;
  max-width: 600px;
  text-align: center;
}

/* Pulsante call to action */
.home-hero button {
  padding: 15px 40px;
  color: white;
  font-weight: bold;
  background-color:   #0f2754;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s;
}

/* Utilizzo dell'hover e dell'active per impatto estetico al posizionamneto e al click del cursore */
.home-hero button:hover {
  background-color:  #0f2754de;
}

.home-hero button:active {
  background-color:  #0f2754b8;
}

/* Responsive hero */
/* Responsive per grandezza media*/
@media (max-width: 900px) {

  /* Riduce spaziatura e titoli */
  .home-hero {
    padding: 150px 20px;
  }

  .home-hero h1 {
    font-size: 50px;
  }

  .home-hero h2 {
    font-size: 26px;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {

  .home-hero {
    padding: 100px 20px;
  }

  .home-hero h1 {
    font-size: 35px;
  }

  .home-hero h2 {
    font-size: 19px;
  }

  .home-hero p {
    font-size: 15px;
    max-width: 395px;
  }

}

/* Blocchi informativi */
/* Layout alterno di immagine e testo */
.about-block {
  display: flex;
  flex-direction: row;
  height: 600px;
}

/* Contenitore immagine */
.img-container {
  flex: 1;
  min-height: 100%;
}

/* Immagine adattata al contenitore */
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

/* Contenitore testo */
/* Colonna dedicata alle informazioni descrittive del Gruppo */
.home-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Titolo del blocco */
.home-info-container h2 {
  font-size: 38px;
  padding-top: 100px;
  color: #0f2754;
}

/* Paragrafo descrittivo */
.home-info-container p {
  line-height: 26px;
  max-width: 460px;
  text-align: justify; 
  padding: 0 20px 100px;
}

/* Responsive per i blocchi */
/* Responsive per grandezza media*/
@media (max-width: 900px) {

  /* Il layout cambia a dimensione verticale */
  .about-block {
    flex-direction: column;
    height: auto;
  }

  .home-info-container h2 {
    font-size: 30px;
    padding: 60px 0;
    margin: 0;
  }

  .home-info-container p {
    text-align: center;
    padding-bottom: 60px;
    margin: 0;
  }

  /* Inverte l'ordine per mantenere l'ordine di apparizione */
  .reverse-about-block {
    flex-direction: column-reverse;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {
  .home-info-container h2 {
    font-size: 26px;
    padding: 40px 0;
  }

  .home-info-container p {
    font-size: 15px;
    line-height: 22px;
    max-width: 380px;
    text-align: justify;
  }

  .img-container img {
    object-position: center;
  }
}

/* SEZIONE SOSTENIBILITÀ */
/* Sezione dedicata ai contenuti ESG */
.sustainability {
  scroll-margin-top: 70px;
  padding-top: 150px;
  background-color: #c9dbff3f;
}

/* SEZIONE HERO */
/* Blocco introduttivo con titolo e descrizione */
.sustainability-hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

/* Testo descrittivo */
.sustainability-hero p {
  line-height: 22px;
  max-width: 600px;
  text-align: center;
}

/* Titolo principale */
.sustainability-hero h1 {
  margin: 0px;
  text-align: center;
  font-size: 45px;
  max-width: 450px;
}

/* Sottotitolo */
.sustainability-hero h4 {
  margin: 0px;
  font-size: 15px;
  color: #0f2754;
}

/* SEZIONE GRID */
/* Griglia informativa con tre colonne */
.sustainability-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap: 60px;
  padding: 150px 100px ;
}

/* Singolo contenitore informativo contenente icona, titolo e testo */
.sustainability-card {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 30px;
}

/* Icona */
.sustainability-card img {
  width: 28px;
  height: 28px;
}

/* Titolo card */
.sustainability-card h2 {
  color: #0f2754;
  font-size: 27px;
  margin: 20px 0;
}

/* Testo card */
.sustainability-card-text {
  max-width: 270px;
  line-height: 22px;
  margin: 5px 0px;
}

/* Dato misurabile */
.sustainability-card-data {
  font-weight: bold;
  color: #0f2754;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* Leggera animazione al posizionamento del cursore */
.sustainability-card:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}

/* Responsive per grandezza media*/
@media (max-width: 1200px) {

  /* La griglia passa da 3 a 2 colonne */
  .sustainability-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    padding: 80px 40px;
  }

  /* Ridimensionamento del testo */
  .sustainability-hero h1 {
    font-size: 36px;
  }

  .sustainability-card h2 {
    font-size: 22px;
  }

  .sustainability-card {
    font-size: 15px;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {

  /* La griglia passa da 2 a 1 colonna */
  .sustainability-grid {
    grid-template-columns: 1fr;
    padding: 50px 20px;
    justify-items: center;
    gap: 30px;
  }

  /* Ridimensionamento delle card */
  .sustainability-card {
    width: 300px;
  }

  /* Ulteriore ridimensionamento del testo */
  .sustainability-hero h1 {
    font-size: 30px;
    max-width: 300px;
  }

  .sustainability-hero h4 {
    font-size: 14px;
  }

  .sustainability-hero p {
    max-width: 380px;
  }
}

/* SEZIONE INIZIATIVE */
/* Contenitore principale della sezione iniziative */
.initiative-section {
  width: 100%;
  height: auto;
}

/* Blocco introduttivo della sezione */
.initiative-description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ttolo principale */
.initiative-description-text h1 {
  font-size: 40px;
}

/* Messaggio introduttivo */
.initiative-description-text p {
  line-height: 22px;
  max-width: 600px;
  text-align: center;
}

/* Layout grid per le singole iniziative */
.initiative-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 50px;
  padding: 120px 50px;
}

/* Singola card contenente immagine e testo */
.initiative-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  text-align: left;
  border-radius: 7px;
}

.initiative-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* Immagine della card */
.initiative-card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* Blocco di testo della card */
/* Contenitore di titolo, paragrafo e link */
.initiative-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  padding: 25px 50px 25px 25px;
}

.initiative-card-text h3,
.initiative-card-text p {
  margin: 0;
}

.initiative-card-text p {
  line-height: 22px;
  text-align: justify;
}

.initiative-card-text a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  color: #0f2754;
}

.initiative-card-text a:hover {
  text-decoration: underline;
}

/* Responsive per grandezza media*/
@media (max-width: 950px) {

  /* Il layout delle griglia passa ad una sola colonna */
  .initiative-grid {
    grid-template-columns: 1fr;
    padding: 80px 30px;
  }

  .initiative-card img {
    height: 250px;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {

  /* Ridimensionamento del titolo e del testo*/
  .initiative-description-text h1 {
    font-size: 30px;
    max-width: 300px;
  }

  .initiative-description-text p {
    max-width: 380px;
    font-size: 15px;
  }

  .initiative-card p {
    display: none;
  }

  /* Posizionamento dell'immagine più adatto a dispositivi mobile */
  .initiative-card img.position-right {
    object-position: right;
  }

  .initiative-card img.position-left {
    object-position: left;
  }
}

/* SEZIONE REPORT */
/* Area dedicata alla consultazione e download dei cocumenti aziendali */
.report-section {
  scroll-margin-top: 70px;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Titolo principale */
.report-section h1 {
  font-size: 40px;
  color: #0f2754;
}

/* Rimozione del padding standard delle liste */
 .reports-list {
  padding: 0;
}

/* Singola riga */
/* Ogni report viene mostrato come riga con nominazione, formato del file e download */
.report-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-size: 21px;
  border-bottom: 0.5px solid black;
  padding-bottom: 5px;
}

.report-row p {
  margin: 0px;
}

/* Area download */
/* Contiene il formato e il link di scaricamento*/
.report-download-section {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

/* Stile del link */
.report-download-section a {
  text-decoration: none;
  color: #0f2754;
}

/* Responsive per grandezza media*/
@media (max-width: 900px) {

  /* Riduzione del padding laterale */
  .report-section {
    padding: 80px 60px;
  }

  /* Cambio della disposizione degli elementi */
  .report-row {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .report-download-section {
    font-size: 14px;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {

  /* Ridimensionamento generale */
  .report-section {
    padding: 60px 30px;
  }

  .report-section h1 {
    font-size: 28px;
    text-align: center;
  }

  .report-row {
    font-size: 16px;
  }
}

/* SEZIONE CONTATTACI */
/* Area contenente recapiti aziendali e modulo di contatto */
.contact-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: #c9dbff3f;
  scroll-margin-top: 70px;
}

/* Blocco introduttivo con titolo e breve descrizione */
.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

/* Titolo principale */
.contact-section h1 {
  color: #0f2754;
  margin: 0 0 17px 0;
  font-size: 40px;
}

/* Paragrafo descrittivo */
.contact-title p {
  max-width: 500px;
  text-align: center;
  line-height: 22px;
}

/* Nominazione dei recapiti */
.contact-section h3 {
  margin: 5px 0;
  font-size: 25px;
  color: #0f2754;
}

/* Contenitore generale che divide le informazioni di contatto e modulo */
.contact-container {
  width: 100%;
  height: 80%;
  display: flex;
}

/* Area informazioni contenente i recapiti aziendali */
.contact-info-box {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 40px;
}

/* Distanza interna delle singole informazioni */
.contact-info-box .contact-info {
  padding-left: 30%;
}

/* Colonna di destra contenente il modulo */
.contact-form-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

/* Modulo di contatto */
.contact-form {
  width: 80%;
  height: 70%;
  background-color: white;
  padding: 50px;
}

/* Ogni riga contiene due input affiancati separati dal gap */
.form-row {
  display: flex;
  column-gap: 80px;
  margin-bottom: 40px;
}

/* Stile per gli elementi input del modulo */
.form-row input {
  flex: 1;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

/* Personalizzazione del placeholder */
.form-row input::placeholder {
  color: #0f2754;
  font-size: 15px;
  font-weight: bold;
}

/* Campo messaggio */
.contact-form textarea {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid black;
  resize: none;
}

/* Pulsante di invio del modulo */
.contact-form button {
  margin-top: 40px;
  padding: 15px 42px;
  border: none;
  background-color: #0f2754;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background-color:  #0f2754de;
}

.contact-form button:active {
  background-color:  #0f2754b8;
}

/* Rimuove lo stile predefinito del browser */
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

/* Responsive per grandezza media*/
@media (max-width: 900px) {

  /* Le due colonne vengono sovrapposte */
  .contact-container {
    flex-direction: column;
    gap: 50px;
  }

  /* Le informazioni di recapito aziendale vengono disposte orizzontalmente */
  .contact-info-box {
    width: 100%;
    flex-direction: row;
    gap: 60px;
  }

  .contact-info-box .contact-info {
    padding-left: 0;
    text-align: center;
  }

  /* Riduce il padding laterale del contenitore del modulo */
  .contact-form-box {
    padding: 0 20px;
  }

  .contact-form {
    width: 90%;
  }
}

/* Responsive per dispositivi mobile */
@media (max-width: 600px) {

  /* Ridimensione del titolo e del testo introduttivo */
  .contact-section h1 {
    font-size: 28px;
    text-align: center;
  }

  .contact-title p {
    font-size: 15px;
    padding: 0 20px;
  }

  /* Nasconde i recapiti per alleggerire il layout */
  .contact-info-box {
    display: none;
  }

  /* Gli input si sovrappongono verticalmente */
  .form-row {
    flex-direction: column;
    gap: 35px;
    margin: 35px 0;
  }

  /* Riduce il padding del modulo */
  .contact-form {
    padding: 30px;
  }

  .contact-form button {
    width: 100%;
    padding: 12px;
  }
}